{% extends "base.html" %}
{% load staticfiles %}
{% block title %}- eduroam{% endblock %}

{% block header %}
    <div class="page-header">
        <div class="row">
            <div class="span8">
                <a href="/">
                    <h3>SWAMID Statistics
                        <small>eduroam</small>
                    </h3>
                </a>
            </div>
            <div class="span1 pull-right">
                <a href="http://www.swamid.se/"><img src="{% static "img/SWAMID-50x60.png" %}"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
stuff
{% endblock %}