{% extends "base.html" %}
{% block js %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/spin/spin.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery.spin.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery.flot.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery.flot.pie.min.js" %}"></script>
<script type="text/javascript">
// AJAX setup
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function waitingFor(target, waiting) {
    var opts = {
        lines: 13, // The number of lines to draw
        length: 20, // The length of each line
        width: 10, // The line thickness
        radius: 30, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: 'auto', // Top position relative to parent in px
        left: 'auto' // Left position relative to parent in px
    };
    if (waiting) {
        target.spin(opts);
    } else {
        target.spin(false);
    }
}

function pieHover(event, pos, obj) {
    if (!obj)
        return;
    var percent = parseFloat(obj.series.percent).toFixed(2);
    $("#hover").html('<p style="font-weight: bold; color: '+obj.series.color+'">'+obj.series.label+' ('+percent+'%)</p>');
}

function getData(startTime, endTime, protocol) {
    waitingFor($("#data-display"), true);
    $.post(".", {start: startTime.toString(), end: endTime.toString(), protocol: protocol}, function(data) {
        waitingFor($("#data-display"), false);
        $("#hover").html("");
        if (data.length > 0) {
            var pie = $("#pie");
            $("#no-data").toggle(false);
            pie.toggle(true);
            $("#data-table").toggle(true);
            // Chart
            $.plot(pie,data,
                {
                    series: {
                        pie: {
                            show: true,
                            combine: {
                                color: '#999',
                                threshold: {{threshold}}
                            }
                        }
                    },
                    grid: {
                        hoverable: true
                    }
                });
            pie.bind("plothover", pieHover);
            // Table
            $("#data-table tbody tr").remove();
            $.each(data, function(index, item) {
                $('#data-table > tbody:last').append('<tr><td>' + item.data +'</td><td><a href="../../{{ cross_type }}/' + item.id + '">' + item.label + '</a></td></tr>');
            });
        } else {
            $("#no-data").toggle(true);
            $("#pie").toggle(false);
            $("#data-table").toggle(false);
        }
    }, "json");
}
$(document).ready(function() {
    $("#no-data").toggle(false);
    $("#pie").toggle(false);
    $("#data-table").toggle(false);
    $.ajaxSetup({
        crossDomain: false, // obviates need for sameOrigin test
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    // Slider
    today = new Date();
    slider_opt = {
        bounds:{
            min: new Date(2013, 0, 1),
            max: new Date(today.getFullYear(), today.getMonth(), today.getDate()-1)
        },
        defaultValues:{
            min: new Date(today.getFullYear(), today.getMonth(), today.getDate()-{{ default_min }}),
            max: new Date(today.getFullYear(), today.getMonth(), today.getDate()-{{ default_max }})
        },
        wheelMode: "scroll"
    };
    var slider = $("#dates");
    slider.dateRangeSlider(slider_opt);
    slider.bind("valuesChanged", function(e, data){
        var dateValues = $("#dates").dateRangeSlider("values");
        var start = dateValues.min;
        // Add 24h to end date as it comes as 00:00:00 as standard
        var end = new Date(dateValues.max.getFullYear(), dateValues.max.getMonth(), dateValues.max.getDate()+1);
        var protocol = {{ protocol|default:"'not_used'" }};
        getData(start, end, protocol);
    });
});
</script>
{% endblock %}
{% block main %}
<div class="page-header">
    <div class="row">
        <div class="span8">
            <a href="../../">
                {% if entity %}
                    <h3>Stats for {{ entity }}</h3>
                {% elif cross_type == "to" %}
                    <h3>Users from {{ realm.name }} ({{ realm }}) went to</h3>
                {% elif cross_type == "from" %}
                    <h3>Users that went to {{ realm.name }} ({{ realm }})</h3>
                {% endif %}
            </a>
        </div>
        <div class="span1 pull-right">
            <a href="http://www.swamid.se/"><img src="{% static "img/SWAMID-50x60.png" %}"></a>
        </div>
    </div>
</div>
<div class="rangeslider span7 offset2">
    <div id="dates"></div>
</div>
<div id="no-data" class="alert alert-error span3 offset4 text-center">
    No data for that time range.
</div>
<div id="data-display" class="row">
    <div class="span4">
        <table id="data-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Count</th>
                    {% if cross_type == "rp" %}
                        <th>Relying Party</th>
                    {% elif cross_type == "origin" %}
                        <th>Identity Provider</th>
                    {% else  %}
                        <th>Realm</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="span7 offset1">
        <div>
            <div id="pie" class="graph"></div>
        </div>
        <div id="hover" class="text-center pie-hover"></div>
    </div>
</div>
{% endblock %}