{% extends "base.html" %}
{% load staticfiles %}
{% block title %}- eduroam{% endblock %}

{% block header %}
    <div class="page-header">
        <div class="row">
            <div class="span8">
                <a href="../">
                    <h3>SWAMID Statistics
                        <small>eduroam</small>
                    </h3>
                </a>
            </div>
            <div class="span1 pull-right">
                <a href="http://www.swamid.se/"><img src="{% static "img/SWAMID-50x60.png" %}"></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if not country_name %}
        <div class="row">
            <div class="span8">
                <h4>Authentication Flow</h4>
                <ul class="unstyled">
                    <li><a href="authentication-flow/?min=8&max=1&threshold=0">Last week</a></li>
                    <li><a href="authentication-flow/?min=31&max=1&threshold=0">Last month</a></li>
                    <li><a href="authentication-flow/?min=366&max=1&threshold=0">Last year</a></li>
                    <li><a href="authentication-flow/?threshold=0">Custom</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% if to_country or from_country %}
        <div class="row">
            {% if to_country %}
                <div class="span5">
                    <h4>Visited {{ country_name }}</h4>
                    <ul class="unstyled">
                        {% for id, realm, name in to_country %}
                            <li><a href="../to/{{ id }}/">{{ name }} ({{ realm }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if from_country %}
                <div class="span5">
                    <h4>Came from {{ country_name }}</h4>
                    <ul class="unstyled">
                        {% for id, realm, name in from_country %}
                            <li><a href="../from/{{ id }}/">{{ name }} ({{ realm }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    {% endif %}
    {% if country_name and not to_country and not from_country %}
        <div class="row">
            <div class="span5">
                <p>No data found for {{ country_name }}.</p>
                <a href="../">Back</a>
            </div>
        </div>
    {% endif %}
    {% if countries %}
        {% load list_filters %}
        <div class="row">
            <div class="span12">
                <h4>Countries</h4>
                <div class="row">
                    {% for column in countries|rows:5 %}
                        <div class="span2">
                            <ul class="unstyled">
                                {% for country in column %}
                                    <li><a href="{{ country.country_code }}/">{{ country.name }} ({{ country.country_code }})</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
