{% extends "base.html" %}
{% block js %}
{% load staticfiles %}
<script type="text/javascript" src="{% static "js/spin/spin.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery/jquery.spin.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3/d3.v3.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/d3/sankey.js" %}"></script>
<script type="text/javascript">
    // AJAX setup
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken'); // Set csrf-token with \{\{ csrf_token \}\}?
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    // Graph setup
    var formatNumber = d3.format("d"),
        format = function(d) { return formatNumber(d) + " request(s)"; },
        color = d3.scale.category20();

    function generateGraph(data, width, height) {
        var margin = {top: 10, right: 1, bottom: 30, left: 1};
        width = width - margin.left - margin.right;
        height = height - margin.top - margin.bottom;

        d3.select("svg").remove();
        var svg = d3.select("#chart").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        var sankey = d3.sankey()
            .nodeWidth(15)
            .nodePadding(13)
            .size([width, height])
            .valueThreshold({{ threshold }});

        var path = sankey.link();

        sankey.nodes(data.nodes)
            .links(data.links)
            .layout(64);

        var link = svg.append("g").selectAll(".link")
            .data(data.links)
            .enter().append("path")
            .attr("class", "link")
            .attr("d", path)
            .style("stroke-width", function(d) { return Math.max(1, d.dy); })
            .sort(function(a, b) { return b.dy - a.dy; });

        link.append("title")
            .text(function(d) { return d.source.name + " → " + d.target.name + "\n" + format(d.value); });

        var node = svg.append("g").selectAll(".node")
            .data(data.nodes)
            .enter().append("g")
            .attr("class", "node")
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
            .call(d3.behavior.drag()
            .origin(function(d) { return d; })
            .on("dragstart", function() { this.parentNode.appendChild(this); })
            .on("drag", dragmove));

        node.append("rect")
            .attr("height", function(d) { return d.dy; })
            .attr("width", sankey.nodeWidth())
            .style("fill", function(d) { return d.color = color(d.name.replace(/ .*/, "")); })
            .style("stroke", function(d) { return d3.rgb(d.color).darker(2); })
            .append("title")
            .text(function(d) { return d.name + "\n" + format(d.value); });

        node.append("text")
            .attr("x", -6)
            .attr("y", function(d) { return d.dy / 2; })
            .attr("dy", ".35em")
            .attr("text-anchor", "end")
            .attr("transform", null)
            .text(function(d) { return d.name; })
            .filter(function(d) { return d.x < width / 2; })
            .attr("x", 6 + sankey.nodeWidth())
            .attr("text-anchor", "start");

        function dragmove(d) {
            d3.select(this).attr("transform", "translate(" + d.x + "," + (d.y = Math.max(0, Math.min(height - d.dy, d3.event.y))) + ")");
            sankey.relayout();
            link.attr("d", path);
        }
    }

    function waitingFor(target, waiting) {
        var opts = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };
        if (waiting) {
            target.spin(opts);
        } else {
            target.spin(false);
        }
    }
    function getData(startTime, endTime, protocol) {
        var chart = $("#chart");
        var spinner = $("#spinner");
        waitingFor(spinner, true);
        $.post(".", {start: startTime.toString(), end: endTime.toString(), protocol: protocol}, function(data) {
            if (data && (data.nodes.length != 0 || data.links.length != 0)) {
                $("#no-data").toggle(false);
                chart.toggle(true);
                // Graph
                generateGraph(data, 940, data.nodes.length * 10);
                waitingFor(spinner, false);
            } else {
                waitingFor(spinner, false);
                $("#no-data").toggle(true);
                chart.toggle(false);
            }
        }, "json");
    }
    $(document).ready(function() {
        $("#info").popover({'placement': 'left', 'trigger': 'hover', 'html': true});
        $("#no-data").toggle(false);
        $("#chart").toggle(false);
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // Slider
        today = new Date();
        slider_opt = {
            bounds:{
                min: new Date(2013, 0, 1, 0, 0, 0),
                max: new Date(today.getFullYear(), today.getMonth(), today.getDate()-1, 23, 59, 59)
            },
            defaultValues:{
                min: new Date(today.getFullYear(), today.getMonth(), today.getDate()-{{ default_min }}, 0, 0, 0),
                max: new Date(today.getFullYear(), today.getMonth(), today.getDate()-{{ default_max }}, 0, 0, 0)
            },
            step:{
                days: 1
            },
            wheelMode: "scroll"
        };
        var slider = $("#dates");
        slider.dateRangeSlider(slider_opt);
        slider.bind("valuesChanged", function(e, data){
            var dateValues = $("#dates").dateRangeSlider("values");
            var start = dateValues.min;
            // Add 24h to end date as time is set to 00:00:00 as standard
            var end = new Date(dateValues.max.getFullYear(), dateValues.max.getMonth(), dateValues.max.getDate(), 23, 59, 59);
            var protocol = "{{ protocol }}";
            getData(start, end, protocol);
        });
    });
</script>
{% endblock %}
{% block main %}
<div class="page-header">
    <a href="../"><h3>Authentication flow in SWAMID <small>{% if protocol == 'eduroam' %}eduroam{% else %}WebSSO{% endif %}</small></h3></a>
</div>
 <div class="pull-right">
    {% if protocol == 'eduroam' %}
        <a id="info" data-content="<p>This diagram shows successful authentication attempts for a calling station ID and a visited realm.</p><p>The unique combination of calling station ID and visited realm is only counted once per day.</p>" title="What is this?" data-toggle="popover" href="#"><i class="icon-question-sign"></i></a>
    {% else %}
        <a id="info" data-content="<p>This diagram shows the total requests each SP sent to an IDP during the chosen time span.</p>" title="What is this?" data-toggle="popover" href="#"><i class="icon-question-sign"></i></a>
    {% endif %}
</div>
<div class="rangeslider span7 offset2">
    <div id="dates"></div>
</div>

<p class="disclaimer span7 offset2"><i class="icon-asterisk"></i> <small>Please be patient when viewing custom time spans.</small></p>
<div id="spinner"></div>
<div id="no-data" class="alert alert-error span3 offset4 text-center">
    No data for that time range.
</div>
<div class="row text-center">
    <p id="chart"></p>
</div>
{% endblock %}