
h3, h3 a {
    color: #E37424;
    font-size: 220%;
}
h4, h4 a {
    color: #E37424;
    font-size: 150%
}

a, a:hover, a:visited {
    color: #E37424;
}

div.rangeslider {
    padding-top: 30px;
    padding-bottom: 70px;
}

div.graph {
	width: 600px;
    height: 300px;
}

p.disclaimer {
    margin-top: -35px;
}

/* Sankey diagram */
#chart {
  height: 500px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

.link:hover {
  stroke-opacity: .5;
}