
h3, h3 a {
    color: #E37424;
    font-size: 220%;
}
h4, h4 a {
    color: #E37424;
    font-size: 150%
}

a, a:hover, a:visited {
    color: #E37424;
}

div.rangeslider {
    padding-top: 30px;
    padding-bottom: 70px;
}

div.graph {
	width: 600px;
    height: 300px;
}