<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SWAMID Statistics {% block title %}{% endblock %}</title>
        {% load staticfiles %}
        <link type="text/css" href="{% static "css/bootstrap/bootstrap.min.css" %}" rel="stylesheet" />
        <link type="text/css" href="{% static "css/bootstrap/bootstrap-responsive.min.css" %}" rel="stylesheet" />
        <link type="text/css" href="{% static "css/ui-lightness/jquery-ui-1.8.18.custom.css" %}" rel="stylesheet" />
        <link type="text/css" href="{% static "css/iThing-min.css" %}" rel="stylesheet"/>
        <link type="text/css" href="{% static "css/flog-style.css" %}" rel="stylesheet"/>
        <script type="text/javascript" src="{% static "js/jquery/jquery-1.7.1.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery/jquery-ui-1.8.18.custom.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery/jquery.mousewheel.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery/jQRangeSlider-min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery/jQDateRangeSlider-min.js" %}"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <div id="header">
            {% block header %}{% endblock %}
        </div>
        <div id="content">
            {% block main %}{% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
    </body>
</html>
