<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SWAMID Statistics {% block title %}{% endblock %}</title>
        <link type="text/css" href="/site-media/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" />
        <link type="text/css" href="/site-media/css/ui-lightness/jquery-ui-1.8.18.custom.css" rel="stylesheet" />
        <!--<link type="text/css" href="/site-media/css/classic-min.css" rel="stylesheet"/>-->
        <link type="text/css" href="/site-media/css/iThing-min.css" rel="stylesheet"/>
        <link type="text/css" href="/site-media/css/flog-style.css" rel="stylesheet"/>
        <script type="text/javascript" src="/site-media/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jquery-ui-1.8.18.custom.min.js"></script>
        <script type="text/javascript" src="/site-media/js/jQRangeSlider-min.js"></script>
        <script type="text/javascript" src="/site-media/js/jQDateRangeSlider-min.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <div id="header">
            {% block header %}{% endblock %}
        </div>
        <div id="content">
            {% block main %}{% endblock %}
        </div>
        <!--<div class="clear"></div>-->
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
    </body>
</html>
